{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Логин</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" required autofocus>
      {% if form.non_field_errors %}
        <div id="emailHelp" class="form-text"><p>Вы ввели неверные данные</p></div>
      {% endif %}
      
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Пароль</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" required>
    </div>
    {% comment %} <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> {% endcomment %}
    <button type="submit" class="btn btn-primary">Войти</button>
  </form>
  
</div>


{% endblock %}