{% load static %}

<div class="d-flex flex-column flex-md-row align-items-center justify-content-md-between p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto col-12 col-md-2 font-weight-normal">Фонд "Учитель"</h5>

  <div class="input-group col-12  col-md-3 ">
    <input type="text" class="form-control" placeholder="Номер заказчика" aria-label="" aria-describedby="basic-addon1" id="customer">
    <div class="input-group-append">
      <a target="_blank" class="btn btn-outline-secondary" type="button" id="dtnWa">WA</a>
      <a target="_blank" class="btn btn-outline-secondary" type="button" id="btnTg">TG</a>
    </div>
  </div>

  <nav class="my-2 my-md-0  ml-md-auto col-12 col-md-5">
    <a class="p-2 text-dark col-xs-12 " href="{% url 'index' %}">Поиск</a> 
    <a class="p-2 text-dark col-xs-12 " href="{% url 'create' %}">Добавить соискателя</a>
    {% comment %} <a class="p-2 text-dark" href="#">Справочники</a> {% endcomment %}
    <a class="p-2 text-dark col-xs-12 " href="{% url 'help' %}">Кристина, у нас проблема!</a>
  </nav>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function(){
    var waUrl = 'https://web.whatsapp.com/send/?phone={phone}&type=phone_number&app_absent=0';
    var tgUrl = 'https://t.me/+';

    var waBtn = document.getElementById('dtnWa');
    var tgBtn = document.getElementById('btnTg');


    waBtn.addEventListener('click', function (event) {
      event.preventDefault();
      var phone = document.getElementById('customer').value;
      var url = `https://web.whatsapp.com/send/?phone=${phone}&type=phone_number&app_absent=0`;
      var elem = event.target;
      window.open(url);
    });

    tgBtn.addEventListener('click', function (event) {
      event.preventDefault();
      var phone = document.getElementById('customer').value;
      var url = `https://t.me/+${phone}`;
      var elem = event.target;
      window.open(url);
    });
    
  });
</script>